

NODE_ENV=development
PORT=4000
MONGO_URI=
GEMINI_API_KEY=
LLM_MODEL=gemini-2.5-flash
LLM_API_URL=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent


PAYOS_RETURN_URL=tripwise://payos/return
PAYOS_CANCEL_URL=tripwise://payos/cancel

PAYOS_QR_EXPIRE_SECONDS=300
PAYOS_CLIENT_ID=
PAYOS_API_KEY=
PAYOS_CHECKSUM_KEY=